$site-bg: #f8f7f4;
$text-secondary: #ffffff;
$bg-primary: #120e22;
$bg-head-button: #2a2538;
$text-brand-caption: #c1bcd3;
$text-brand-title: #00ffc7;
$text-footer: #c1bcd3;

$email-valid: #ffffff;
$email-invalid: #ff0000;
$input-bg: #ffffff;
$input-dark-bg: #120e22;
$text-color: #000000;
$social-bg: #2c283a;
$social-bg-hover: #2c283a;

$button-bg: #4b3bff;
$button-bg-secondary: #120e22;

$gray-bg: #f1eeeb;
$blue-accent: #4b3bff;
$green-accent: #00bc8d;
$border-light: #d2d2d2;
$dark-bg: #120e22;
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$black-60: rgba(0, 0, 0, 0.6);
$dark-20: rgba(18, 14, 34, 0.2);
$dark-90: rgba(18, 14, 34, 0.9);
